* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-weight: 400;
    color: #747474;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
}

header {
   position: fixed;
   min-width: 100%;
   background-color: white;
   box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15);
   z-index: 1;
}

header > nav {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: opx, 20px;
    box-sizing: inherit;
    height:fit-content;
    margin: 0 auto;
}

.header-element{
    height:70px;
    display:flex;
    align-items: center;
    box-sizing: inherit;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-between;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
}

.header-list {
    padding: 0 9px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.header-list a {
    text-decoration: none;
    color:#ababab
}

.header-list a:hover, .header-list a:active, .header-element a p{
    color:#00b39b;
}

.dropdown:hover .dropdown-option{
    display: block;
}

.dropdown-option {
    box-sizing: inherit;
}

main {
    padding: 70px 0 0;
    margin: 0 auto;
}

.header-list ul {
    padding: 0;
    display: none;
    margin: 8rem;
    padding-top: 10px;
    min-width: 220px;
    margin-left: -100px;
    position: absolute;
    background-color: white;
    box-shadow:0 2px 2px o rgba(0,0,0,.15)
}

.dropdown-option li {
    padding: 12px, 16px;
    box-sizing: inherit;
    font-size: 14px;
    line-height: 18px;
    width: max-content;
    display: block;
}

.dropdown-option li:hover {
    background-color: aliceblue;
    color: #00b39b;
    position: relative;
    width: inherit;
}

.first {
    margin: 33px auto 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1020px;
}


h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: .4px;
}

.first h2 {
    font-size: 35px;
    line-height: 44.5px;
    margin: 34px auto;
    text-align: center;
}

.first p {
    margin: 13px auto;
    font-size: 16px;
    line-height: 28px;
    padding: 10px;
}

.firstgrid {
    display: flex;
    flex-flow: nowrap
}

.for_patients {
    background-color: #00ccb1;
}

.for_doctors {
    background-color: #3d83df;
}

.for_clinics {
    background-color: rgba(0, 0, 0, 0.657);
}

.second {
    display:flex;
    flex-flow:row nowrap;
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    height: 370px;
}

.item {
    border-radius: 10px;
    margin: 10px;
    padding: 22px 40px 0;
    box-sizing: border-box;
    width: 33.3%;
    height: auto;
    overflow: hidden;
}

.second h3 {
    font-size: 1.625em;
    color: white;
    margin: 5.8px 0 20px;
    display: block;
}

.second h1 {
    color: hsla(0,0%,100%,.7);
}

.second i {
    color: white;
    margin-bottom: 5px;
}

select {
    border: none;
    width: max-content;
    margin-top: 30px;
    font-size: 1.2em;
    color: white;
    background-color: transparent;
}

.third {
    padding: 0px 10px;
    margin: 40px auto 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1020px;
    box-sizing: border-box;
}

.third h2 {
    font-size: 26px;
    width: 33.9%;
    padding: 0 26px 0 0;
    line-height: 33.5ppx;
}

.third ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.third li {
    min-width:  160px;
    padding: 10px 0;
}

.third svg:hover {
    color: #00b39b;
}

.third svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}

.fourth {
    background-color: #e5faf8;
    width: 100vw;
    min-width: 100%;
    background-image: url(https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/4819/assets/44063/doktortakvimi-mktpl-symbol-turquoise.png);
    background-size: 456px 435px;
    background-position: 15% 145%;
}

.fourth_content{
    margin: 50px auto 88px;
    padding: 15px 0 10px;
    display: flex;
    flex-direction: row;
    max-width: 1020px;
}

.fourth_text h1 {
    font-size: 34px;
    list-style: 44px;
}

.fourth_text p {
    margin: 22.4px 0;
    max-width: 415px;
    line-height: 24px;
    font-size: 14px;
}

.fourth_text {
    width: 50;
    margin-left: 20px;
}

.fourth_numbers {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    width: 50%;
    margin-right: 5px;
}

.fourth_numbers div {
    background-color: white;
    border-radius: 5px;
    list-style: none;
    padding: 15px;
    text-align: center;
    margin: 10px;
    width: 40%;
    height: 250px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fourth_numbers div:first-child {
    margin-top: 35px;
}

.fourth_numbers div:last-child {
    position: relative;
    bottom: 25px;
}

.fourth_numbers h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    margin: 0;
}

.fourth_numbers p{
    font-size: 15px;
    line-height: 17px;
    margin: 0;
}

.fifth {
    max-width: 1020px;
    margin: 0 auto;
}

.fifth h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}

.teams {
    max-width: 460px;
    text-align: center;
    margin: 0 auto 67px;
}

.teams p {
    font-size: 14px;
    line-height: 24px;
    margin: 22.4px 0;
}



.offices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space space-around;
    box-sizing: border-box;
    margin: 88px 0px 80px;
}

.offices a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    text-decoration: none;
    color: #747474;
}

.offices a:hover {
    box-shadow: 56px 10px #8888;
}

.offices a p {
    font-size: 20px;
    margin: 0;
}

.offices div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.offices button {
    border: 0;
    border-radius: 4px;
    background: #3d83df;
    color:#fff;
    font-weight: 600;
    padding: 10px 6px;
    text-decoration: none;
    font-size: 10px;
}

.offices button:hover {
    color:#747474;
    background: pink;
}

.sixth {
    margin: 33px auto 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1020px;
}

.sixth button {
    border: 0;
    border-radius: 4px;
    background: #3d83df;
    color:#fff;
    font-size: 60px;
    font-weight: 900;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 10px;
    margin-top: 15px;
}

footer {
    text-align: center;
    margin: 0;
    padding: 12px 20px;
    border-top: 1px solid rgb(238, 242, 242);
    min-width: 100%;
}
footer p {
    font-size: 12px;
    color: #ababab;
    margin: 19.2px auto 4.8px;
}
footer a {
    text-decoration: none;
    color: #3d83df;
}































